.side-nav-bar-section {
  width: 150px;
  height: calc(100vh - 70px);
  background-color: #0e3254;
}

.inner-side-nav-bar {
  height: calc(100% - 10px);
}

.inner-side-nav-bar div {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.inner-side-nav-bar div label {
  color: white;
  margin: 0;
}

.inner-side-nav-bar div:hover {
  background-color: #3277b9;
  cursor: pointer;
}

.inner-side-nav-bar div label:hover {
  background-color: #3277b9;
  cursor: pointer;
}

.active {
  background-color: #3277b9;
  cursor: pointer;
}

.inner-side-nav-bar a {
  text-decoration: none;
}