.transactions-list-section {
    overflow-y: auto;
    height: 100%;
}

.error-toast {
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert-no-data-div {
    text-align: center;
}